.logo {
    background: url(images/logo-impacto-topo.png);
}

.texto {
    font-family: "Eras Medium ITC";
}

.botao {
    background-color: #4b0505;
}

.slide {
    background: utl(images/header-mecanico.jpg);
}

