header
	+clearfix
	min-height: 328px
	background:
		image: url('/images/header-mecanico.jpg')
		position: right top
		repeat: no-repeat
		margin-right: 200px
		color: $vermelhoescuro
		//size: cover
		attachment: fixed
		min-width: 260px
	+breakpoint($celular)
		background:
			color: $vermelhoescuro
		max-height: 300px
			image: none

	+breakpoint($tablet)
		background:
			color: $vermelhoescuro
			image: none



		// position:
		// attachment:
		// size:

	.logo
		margin-left: 200px
		margin-top: 50px
		margin-right: 100px
		float: left
		img
			width: 386px
			height: 143px
		
		+breakpoint($celular)
			margin: 0px 0px 0px 0px
			img
				width: 350px
				height: 100px
			text-align: center
			float: none
		
		+breakpoint($tablet)
			//text-align: center
			margin: 0px 0px 0px 0px
			img
				width: 350px
				height: 100px
			text-align: center
			float: none



				

	.texto-topo
		//float: right
		//float: center
		margin-top: 85px
    	margin-bottom: 50px
    	margin-right: 150px
    	margin-left: 500px
		font-size: 18px
		//font-style: $boltitalico
		text-shadow: 1px 1px 5px $branco, 0 0 60px $amarelo-sombra, 0 0 30px $amarelo-sombra
		+breakpoint($tablet)
			display: none
		+breakpoint($celular)
			display: none

		p

	.header-inferior
		filter: alpha(opacity = 50)
		opacity: 0.5
		-moz-opacity: 0.5
		-webkit-opacity: 0.5
		// background:
		// 	image: url('/images/fundo-header-inferior.gif')
		// 	position: right top
		// 	//repeat: no-repeat
		// 	color: $vermelhoescuro
		// 	size: cover
		// 	//attachment: fixed
		// 	min-height: 260px
		

	.header-inferior-elementos
		background:
			color: $vermelhocinza
			filter: alpha(opacity = 50)
			opacity: 0.5
			-moz-opacity: 0.5
			-webkit-opacity: 0.5
		min-height: 110px
		+breakpoint($celular)
			min-height: 60px
		+breakpoint($tablet)
			min-height: 60px



			



	.topo-titulo-servicos
		+breakpoint($tablet)
			display: none
		+breakpoint($celular)
			display: none
		color: $branco
		font-size: 20px
		margin-top: 10px
		margin-left: 140px

	.lista-servicos
		+breakpoint($tablet)
			display: none
		+breakpoint($celular)
			display: none
		margin-left: 140px
		margin-top: 5px
		margin-right: 250px
		float: left
		
		.servicos
			color: $branco
			display: inline-block
			margin-left: 30px

			// ul
			// 	//display: inline-block
			// 	//list-style: none
			// 	//overflow-y: auto

			// 	li

	.links-social
		// width: 10px
		// height: 10px
		margin-top: 15px
		align-items: center
		+breakpoint($celular)
			margin-top: 10px
			margin-bottom: 10px


		.social
			+breakpoint($tablet)
					text-align: center
			+breakpoint($celular)
				text-align: center
				margin: 0px 0px 0px 0px
				margin-right: 0px
			ul
				
			li
				display: inline-block
				margin-right: 40px
				+breakpoint($celular)
					margin-right: 0px


				a
					display: block
					background: $vermelhoescuro
					border: 1px solid $vermelhoescuro
					padding: 13px
					width: 50px
					height: 50px
					line-height: 10px
					//line-width: 35px

					+border-radius(120px)	
					img
						align: center
						width: 20px
						height: 20px
					
