main
	margin: 0px 0px 0px 0px
	
	.pneus-aro-13
		margin: 40px 0px 40px 0px
		+breakpoint($celular)
			margin: 10px 0px 0px -10px
	
		.imagem-pneus-13
			float: left
	
		.promocao-pneus-13
			margin: 2px 0px 0px 80px
			display: inline-block
			background: $vermelhoescuro
			z-index: -1
			position: absolute
			width: 300px
			padding-left: 40px
			+breakpoint($celular)
				margin: 2px 0px 0px 40px
				padding-left: 80px
	
			.titulo-promocao
				color: $branco
				font-size: 28px
	
			.a-partir
				font-size: 10px
				float: left
				+breakpoint($celular)
					margin: -10px 0px 0px 0px
	
			.moeda
				font-size: 20px
	
			.valor-cheio
				font-size: 60px
				float: right
				margin: -40px 0px 0px 40px
				+breakpoint($celular)
					margin: -15px 0px 0px 0px
	
			.valor-centavos
				font-size: 40px
				margin: -78px 0px 0px 40px
				padding-left: 70px
				position: absolute
	


	.pneus-aro-14
		margin: 40px 0px 40px 0px
		padding-left: 150px
		+breakpoint($celular)
			margin: 20px 0px 0px -10px
			padding-left: 0px
	
		.imagem-pneus-14
			float: left
			margin: 0px 0px 0px 0px
			+breakpoint($celular)
				margin: 0px -34px 0px 0px
	
		.promocao-pneus-14
			margin: 2px 0px 0px -38px
			display: inline-block
			background: $vermelhoescuro
			z-index: -1
			position: absolute
			width: 300px
			padding-left: 45px
			+breakpoint($celular)
				margin: 2px 0px 0px -40px
				padding-left: 80px

	
			.titulo-promocao
				color: $branco
				font-size: 28px
	
			.a-partir
				font-size: 10px
				float: left
				+breakpoint($celular)
					margin: -10px 0px 0px 0px
	
			.moeda
				font-size: 20px
	
			.valor-cheio
				font-size: 60px
				float: right
				margin: -40px 0px 0px 40px
				+breakpoint($celular)
					margin: -15px 0px 0px 0px
	
			.valor-centavos
				font-size: 40px
				margin: -78px 0px 0px 40px
				padding-left: 70px
				position: absolute
	


	.pneus-aro-15
		margin: 0px 0px 40px 0px
		+breakpoint($celular)
			margin: 20px 0px 0px -10px
			padding-left: 0px
	
		.imagem-pneus-15
			float: left
			+breakpoint($celular)
				margin: 0px -34px 0px 0px
	
		.promocao-pneus-15
			margin: 2px 0px 0px -40px
			display: inline-block
			background: $vermelhoescuro
			z-index: -1
			position: absolute
			width: 300px
			padding-left: 45px
			+breakpoint($celular)
				margin: 2px 0px 0px -40px
				padding-left: 80px
	
			.titulo-promocao
				color: $branco
				font-size: 28px
	
			.a-partir
				font-size: 10px
				float: left
				+breakpoint($celular)
					margin: -10px 0px 0px 0px
	
			.moeda
				font-size: 20px
	
			.valor-cheio
				font-size: 60px
				float: right
				margin: -40px 0px 0px 40px
				+breakpoint($celular)
					margin: -15px 0px 0px 0px
	
			.valor-centavos
				font-size: 40px
				margin: -78px 0px 0px 40px
				padding-left: 70px
				position: absolute
	


	.pneus-aro-16
		margin: 40px 0px 40px 0px
		padding-left: 150px
		+breakpoint($celular)
			margin: 20px 0px 0px -10px
			padding-left: 0px
	
		.imagem-pneus-16
			float: left
			margin: 0px 0px 0px 0px
			+breakpoint($celular)
				margin: 0px -34px 0px 0px
	
		.promocao-pneus-16
			margin: 2px 0px 0px -38px
			display: inline-block
			background: $vermelhoescuro
			z-index: -1
			position: absolute
			width: 300px
			padding-left: 45px
			+breakpoint($celular)
				margin: 2px 0px 0px -40px
				padding-left: 80px
	
			.titulo-promocao
				color: $branco
				font-size: 28px
	
			.a-partir
				font-size: 10px
				float: left
				+breakpoint($celular)
					margin: -10px 0px 0px 0px
	
			.moeda
				font-size: 20px
	
			.valor-cheio
				font-size: 60px
				float: right
				margin: -40px 0px 0px 40px
				+breakpoint($celular)
					margin: -15px 0px 0px 0px
	
			.valor-centavos
				font-size: 40px
				margin: -78px 0px 0px 40px
				padding-left: 70px
				position: absolute
	


	.pneus-aro-17
		margin: 0px 0px 40px 0px
		+breakpoint($celular)
			margin: 20px 0px 0px -10px
			padding-left: 0px
	
		.imagem-pneus-17
			float: left
			+breakpoint($celular)
				margin: 0px -34px 0px 0px
	
		.promocao-pneus-17
			margin: 2px 0px 0px -40px
			display: inline-block
			background: $vermelhoescuro
			z-index: -1
			position: absolute
			width: 300px
			padding-left: 45px
			+breakpoint($celular)
				margin: 2px 0px 0px -40px
				padding-left: 80px
	
			.titulo-promocao
				color: $branco
				font-size: 28px
	
			.a-partir
				font-size: 10px
				float: left
				+breakpoint($celular)
					margin: -10px 0px 0px 0px
	
			.moeda
				font-size: 20px
	
			.valor-cheio
				font-size: 60px
				float: right
				margin: -40px 0px 0px 40px
				+breakpoint($celular)
					margin: -15px 0px 0px 0px
	
			.valor-centavos
				font-size: 40px
				margin: -78px 0px 0px 40px
				padding-left: 70px
				position: absolute
	


	.formulario-cadastro
		position: absolute
		margin: -1000px 0px 0px 700px
		width: 300px
		height: 630px
		text-align: center
		padding-top: 20px
		padding-left: 20px
		padding-right: 20px
		background: 
			color: $vermelhoclaro
		+breakpoint($celular)
			margin: 20px 0px 200px 15px
		+breakpoint($tablet)
			margin: 10px 0px 200px 10px
			//width: 700px


		.form-cadastro-cliente
			
		.texto-formulario
			color: $branco
			font-size: 20px
	
		.form-lojas

		.form-nome-cliente

		.form-telefone

		.form.mensagem

		.botao
			margin: 0px 0px 0px 10px
			background: $vermelhoescuro
			width: 300px
			height: 50px
		input
			&:focus
				border-color: $vermelhoescuro
				background:
					color: #FFBD9C
				
		textarea
			&:focus
				border-color: $vermelhoescuro
				background:
					color: #FFBD9C
				
		select
			&:focus
				border-color: $vermelhoescuro
				background:
					color: #FFBD9C
				
		button
			&:hover
				background: $vermelhoescuro
				color: $branco
			&:focus
				border-color: $vermelhoescuro
	


	.texto-juridico
		float: right
		text-align: right
		font-size: 12px
		+breakpoint($celular)
			margin: 680px 0px 0px 0px

		+breakpoint($tablet)
			margin: 680px 0px 0px 0px